body {
    background-color: #fcfbff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap {
    max-width: 85%;
    margin: 0 auto;
    display: block;
}
main {
    max-width: 75%;
    margin: 0 auto;
    display: block;
    background-color: white;
    padding: 2%;
}
nav {
    background-color: #b19ad6;
    padding: 10px;
}
h1 {
    font-size: 3em;
    font-family: "BigNoodleTitling";
}
h3 {
    font-size: 1.3em;
}
a {
    color: black;
    text-decoration: none;
}
p{
    font-size: 20px;
    line-height: 2em;
}
ul {
	list-style-type: none;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
    padding: 0;
}
li {
	color: white;
	display: inline;
	padding: 5px 4%;
    transition: 100ms;
    grid-column: 1;
}
li:hover {
	color: rgb(83, 60, 99);
	font-size: 22px;;
	padding: 0 2%;
}
section {
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    max-width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.artphoto {
    background-color: rgb(248, 231, 248);
    width: 15%;
height: 20%;
padding: 1em;
margin: 2%;

}
.artphoto img {
    width: 96%;
}


#homepage {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.webthumb {
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
}
@media screen and (max-width: 900px) {
    .wrap{
        max-width: 65%;
    }
    h1{
        font-size: 30px;
    }
    .container{
        max-width: 60%;
    }
    .artphoto {
        width: 35%;
    height: 30%;
    padding: 0.5em;
    margin: 2%;
    }.artphoto img {
        width: 2em;
    }
}

    @media screen and (max-width: 600px) {
        .wrap{
            max-width: 65%;
        }
        h1{
           font-size: 0.5em;
        }
    ul li{
        display: block;
        margin: 1em 0;
    } .container{
        max-width: 50%;
    }.artphoto {
        width: 35%;
    height: 30%;
    padding: 10px;
    margin: 2%;
    }.artphoto img {
        width: 3em;
    }
        }